@import url("open-iconic/font/css/open-iconic-bootstrap.min.css");
/**
 * Set up a decent box model on the root element
 */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --html-font-size: 20px;
  --header-line-hight: 35px;
  --filter-line-hight: 35px;
  --bg-color-page-header: rgba(4, 78, 47, 0.637);
  --bg-color-page-content: #ffffff;
  --bg-color-page-footer: rgba(4, 78, 47, 0.637);
  --fg-color-page-header: primary-color;
  --fg-color-page-content: #fff;
  --fg-color-page-footer: #fff;
  --primary-color: white;
  --bg-color-primary: #3a2596;
  --bg-color-item-1: #347974;
  --bg-color-item-2: #347974;
  --bg-color-filter: #347974;
  --bg-color-header-1: #347974;
  --bg-color-header-2: #276460;
  --fg-color-primary: #f0e5e5;
  --fg-color-item-1: #fff;
  --fg-color-item-2: #fff;
  --fg-color-filter: #2d4d63;
  --fg-color-header-1: #347974;
  --fg-color-header-2: #ffffff;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: #e50050;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #fff;
  text-decoration: underline;
}

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  font-family: 'Helvetica Neue',  Helvetica,  Arial,  sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: var(--html-font-size) !important;
  background-color: #fff;
}

/**
*site.css section
*/
app {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-row {
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main .top-row {
  background-color: #e6e6e6;
  border-bottom: 1px solid #d6d5d5;
}

.sidebar {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#052767), color-stop(70%, #3a0647));
  background-image: linear-gradient(180deg, #052767 0%, #3a0647 70%);
}

.sidebar .top-row {
  background-color: rgba(0, 0, 0, 0.4);
}

.sidebar .navbar-brand {
  font-size: 1.1rem;
}

.sidebar .oi {
  width: 2rem;
  font-size: 1.1rem;
  vertical-align: text-top;
  top: -2px;
}

.nav-item {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
  padding-top: 1rem;
}

.nav-item:last-of-type {
  padding-bottom: 1rem;
}

.nav-item a {
  color: #d7d7d7;
  border-radius: 4px;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 3rem;
}

.nav-item a.active {
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
}

.nav-item a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.content {
  padding-top: 1.1rem;
}

.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
  outline: 1px solid #26b050;
}

.invalid {
  outline: 1px solid red;
}

.validation-message {
  color: red;
}

@media (min-width: 1250px) {
  app {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .sidebar {
    width: 250px;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .main .top-row {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .main > div {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }
  .navbar-toggler {
    display: none;
  }
  .sidebar .collapse {
    /* Never collapse the sidebar for wide screens */
    display: block;
  }
}

/* Login page*/
.login-container {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 40px;
  /* background-color: #f5f5f5; */
  /* height:100%; */
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.login-title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-bottom: 20px;
}

.login-subtitle {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-bottom: 114px;
}

.login-body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/**
* My Changes
*/
div.scroll {
  margin: 4px, 4px;
  padding: 4px;
  height: 75rem;
  overflow-x: hidden;
  overflow-x: auto;
  overflow-y: auto;
  text-align: justify;
}

/**
 * Basic typography style for copy text
 */
/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.main-container {
  max-width: 1180px;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media (min-width: 1250px) {
  app {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 650px) {
  :root {
    --html-font-size: 16px;
    --header-line-hight: var(--html-font-size) * 4;
  }
}

@media screen and (max-width: 550px) {
  :root {
    --html-font-size: 14px;
    --header-line-hight: var(--html-font-size) * 3;
  }
}

@media screen and (max-width: 450px) {
  :root {
    --html-font-size: 12px;
    --header-line-hight: var(--html-font-size) * 2;
  }
}

@media screen and (max-width: 400px) {
  :root {
    --html-font-size: 10px;
    --header-line-hight: var(--html-font-size) * 2;
  }
}

@media screen and (max-width: 350px) {
  :root {
    --html-font-size: 9px;
    --header-line-hight: var(--html-font-size ) ;
  }
}

.btn-transaction, .btn-grid-cmd, .btn-grid-sort, .grid-input {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(4, 78, 47, 0.637);
  color: #d1f0ed;
  font-size: 1.1rem;
}

.btn-grid-cmd {
  background-color: hotpink;
}

.btn-grid-cmd:hover {
  background-color: chartreuse;
}

.btn-grid-sort {
  background-color: blue;
}

.btn-grid-sort:hover {
  background-color: chartreuse;
}

.grid-input {
  text-align: left;
  background-color: #347974;
  background-color: var(--bg-color-item-2);
  color: #fff;
  color: var(--fg-color-item-2);
}

.grid-title {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #276460;
  background-color: var(--bg-color-header-2);
  color: #ffffff;
  color: var(--fg-color-header-2);
}

.grid-transactions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto 1fr;
      grid-template-rows: auto auto auto 1fr;
  height: 100%;
      grid-template-areas: "nav-back nav-transactions nav-invoices" "filter-date-from filter-date-main filter-date-to" "filter-1 filter-2 filter-3" "main-content main-content main-content";
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  padding: 2px;
  grid-gap: 2px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #ffffff;
  background-color: var(--bg-color-page-content);
}

.grid-transactions-content-summary, .grid-transactions-content-transaction {
  display: -ms-grid;
  display: grid;
  padding: 2px 10px;
  border-radius: 10px;
  background-color: #347974;
  background-color: var(--bg-color-filter);
}

.filter-date-from, .filter-date-main, .filter-date-to {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.filter-2, .filter-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.filter-date-from {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: filter-date-from;
}

.filter-date-main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: filter-date-main;
}

.filter-date-to {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: filter-date-to;
}

.filter-1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: filter-1;
}

.filter-2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: filter-2;
}

.filter-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: filter-3;
}

.base-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 35px 1fr 35px;
      grid-template-rows: 35px 1fr 35px;
  min-height: 100vh;
  min-width: 100vw;
      grid-template-areas: "page-header" "page-content" "page-footer";
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  padding: 2px;
}

.page-header, .page-content, .page-footer {
  background-color: rgba(4, 78, 47, 0.637);
  background-color: var(--bg-color-page-header);
  color: primary-color;
  color: var(--fg-color-page-header);
}

.page-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: page-header;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.page-content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: page-content;
}

.page-footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: page-footer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.grid-edit {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "edit-content";
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.grid-edit .edit-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: edit-content;
  padding: 1px 1px;
  grid-gap: 2px;
  font-size: 1.1rem;
}

.edit-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr;
      grid-template-columns: 100px 1fr;
      grid-template-areas: "title description";
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  height: auto;
  font-size: 0.9rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.title {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  -ms-grid-column-align: left;
      justify-self: left;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: description;
  justify-self: left;
  padding: 2px 4px;
}

.header-fix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(4, 78, 47, 0.637);
  height: 35px;
  position: fixed;
  width: calc(calc(100% / $t ) - $space * ($t + 1));
}

.nav-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav-back;
}

.nav-transactions {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: nav-transactions;
  text-align: center;
}

.nav-invoices {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: nav-invoices;
}

.transactions-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main-content;
  padding-left: 5px;
  padding-right: 5px;
  grid-row-gap: 5px;
  overflow-y: auto;
  height: 100%;
  overflow-y: scroll;
  resize: both;
}

/* "content-header content-header content-header content-side"
    "content-row content-row content-value content-size"*/
.content-header, .content-header-right-1, .content-header-right, .content-header-left, .content-header-left-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: content-header;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  color: #fff;
}

/* */
.account-manager {
  padding: 2px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "account-manager-task account-manager-task-process";
  height: 100%;
  grid-gap: 2px;
  background-color: #ffffff;
  background-color: var(--bg-color-page-content);
}

@media screen and (max-width: 940px) {
  .account-manager {
    padding: 2px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "account-manager-task" "account-manager-task-process";
    height: 100%;
    grid-gap: 2px;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 550px) {
  button {
    font-size: 1rem;
  }
}

.account-manager-task {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 35px 35px 1fr;
      grid-template-rows: 35px 35px 1fr;
      grid-template-areas: "a-m-task-header a-m-task-header a-m-task-header" "a-m-task-filter a-m-task-filter a-m-task-filter" "a-m-task-list a-m-task-list a-m-task-list";
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: account-manager-task;
  grid-gap: 2px;
  width: 100%;
}

.account-manager-task-process {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 35px 35px 1fr;
      grid-template-rows: 35px 35px 1fr;
      grid-template-areas: "a-m-t-p-header a-m-t-p-header a-m-t-p-header" "a-m-t-p-filter a-m-t-p-filter a-m-t-p-filter" "a-m-t-p-list a-m-t-p-list a-m-t-p-list";
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: account-manager-task-process;
  grid-gap: 2px;
  width: 100%;
}

.a-m-t-p-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: a-m-t-p-header;
  background-color: #276460;
  background-color: var(--bg-color-header-2);
  color: #ffffff;
  color: var(--fg-color-header-2);
}

.a-m-t-p-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: a-m-t-p-list;
  grid-gap: 2px;
  padding: 0px;
  width: 100%;
}

.a-m-task-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: a-m-task-list;
  width: 100%;
  padding: 1px 1px;
  grid-gap: 2px;
}

.a-m-t-list-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 0.5fr 0.5fr 0.5fr;
      grid-template-columns: 1fr 1fr 0.5fr 0.5fr 0.5fr;
      grid-template-areas: "task-list-c--1 task-list-c--2 task-list-c--3 task-list-c--4 task-list-c--5";
  -ms-grid-rows: minmax(auto, 50px);
      grid-template-rows: minmax(auto, 50px);
  border-radius: 10px;
  background-color: #347974;
  background-color: var(--bg-color-item-1);
  color: #fff;
  color: var(--fg-color-item-1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-m-t-list-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 0.5fr 0.5fr 0.5fr;
      grid-template-columns: 1fr 1fr 0.5fr 0.5fr 0.5fr;
  -ms-grid-rows: 35px;
      grid-template-rows: 35px;
      grid-template-areas: "task-list-h--1 task-list-h--2 task-list-h--3 task-list-h--4 task-list-h--5";
  background-color: #347974;
  background-color: var(--bg-color-item-1);
  color: #fff;
  color: var(--fg-color-item-1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.task-list-h--1 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: task-list-h--1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.task-list-h--2 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: task-list-h--2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.task-list-h--3 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: task-list-h--3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.task-list-h--4 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: task-list-h--4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.task-list-h--5 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: task-list-h--5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.task-list-h--6 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-area: task-list-h--6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.task-list-c--1 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: task-list-c--1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.task-list-c--2 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: task-list-c--2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.task-list-c--3 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: task-list-c--3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.task-list-c--4 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: task-list-c--4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.task-list-c--5 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: task-list-c--5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.task-list-c--6 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-area: task-list-c--6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-m-task-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: a-m-task-header;
  background-color: #276460;
  background-color: var(--bg-color-header-2);
  color: #ffffff;
  color: var(--fg-color-header-2);
}

.a-m-task-filter, .a-m-t-p-filter, .a-m-t-p-filter-1-2-3, .a-m-t-p-filter-1-1-2, .a-m-t-p-filter-1-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px 3px;
}

.a-m-task-filter {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: a-m-task-filter;
      grid-template-areas: "a-m-t-filter--1 a-m-t-filter--2 a-m-t-filter--3";
}

.a-m-t-p-filter {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: a-m-t-p-filter;
      grid-template-areas: "a-m-t-p-filter--1 a-m-t-p-filter--1 a-m-t-p-filter--1";
}

.a-m-t-p-filter-1-2-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: a-m-t-p-filter;
      grid-template-areas: "a-m-t-p-filter--1 a-m-t-p-filter--2 a-m-t-p-filter--3";
}

.a-m-t-p-filter-1-1-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: a-m-t-p-filter;
      grid-template-areas: "a-m-t-p-filter--1 a-m-t-p-filter--1 a-m-t-p-filter--2";
}

.a-m-t-p-filter-1-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: a-m-t-p-filter;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "a-m-t-p-filter--1  a-m-t-p-filter--2";
}

.a-m-t-p-filter--1 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a-m-t-p-filter--1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-m-t-p-filter--2 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: a-m-t-p-filter--2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-m-t-p-filter--3 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: a-m-t-p-filter--3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-m-t-filter--1 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a-m-t-filter--1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-m-t-filter--2 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: a-m-t-filter--2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-m-t-filter--3 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: a-m-t-filter--3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-m-t-p-list-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 35px;
      grid-template-columns: 1fr 1fr 1fr 35px;
  -ms-grid-rows: 30px auto auto;
      grid-template-rows: 30px auto auto;
      grid-template-areas: "a-m-t-p-list-header--1 a-m-t-p-list-header--2 a-m-t-p-list-header--3 a-m-t-p-list-header--4" "a-m-t-p-list-item--1 a-m-t-p-list-item--2 a-m-t-p-list-item--3 a-m-t-p-list-item--4" "a-m-t-p-list-footer a-m-t-p-list-footer a-m-t-p-list-footer a-m-t-p-list-footer";
  border-radius: 10px;
  background-color: #347974;
  background-color: var(--bg-color-item-1);
  color: #fff;
  color: var(--fg-color-item-1);
}

.a-m-t-p-list-header--1 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a-m-t-p-list-header--1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-m-t-p-list-header--2 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: a-m-t-p-list-header--2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-m-t-p-list-header--3 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: a-m-t-p-list-header--3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-m-t-p-list-header--4 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: a-m-t-p-list-header--4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-m-t-p-list-header--4:hover {
  color: chartreuse;
}

.a-m-t-p-list-item--1 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: a-m-t-p-list-item--1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-m-t-p-list-item--2 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: a-m-t-p-list-item--2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-m-t-p-list-item--3 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: a-m-t-p-list-item--3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-m-t-p-list-item--4 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: a-m-t-p-list-item--4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-m-t-p-list-footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: a-m-t-p-list-footer;
}

.containerAccount {
  font-size: 10px;
  display: -ms-grid;
  display: grid;
  background-color: aliceblue;
  /*grid-template-areas: "r1c1 r1c2 r1c3 r1c4 r1c4" "r2c1 r2c2 r2c3 r2c4 r2c5" "r1c3 r1c3 r1c3 r3c4 r3c4" "r4c1 r4c2 r4c3 r4c4 r4c5"*/
  -ms-grid-columns: 1.5fr 1fr 1fr 1fr;
      grid-template-columns: 1.5fr 1fr 1fr 1fr;
  -ms-grid-rows: minmax(50px, auto) minmax(50px, auto) minmax(100px, auto) minmax(100px, auto) minmax(50px, auto);
      grid-template-rows: minmax(50px, auto) minmax(50px, auto) minmax(100px, auto) minmax(100px, auto) minmax(50px, auto);
  max-width: initial;
  margin: 0 auto;
  grid-gap: 0px;
      grid-template-areas: "head head head head" "select-club select-airplane select-pilot select-date" "main-left main-left main-left  main-left" "main-left main-left main-left main-left" "main-right main-right main-right  main-right" "main-right main-right main-right main-right" "foot foot foot foot";
}

@media screen and (min-width: 1000px) {
  .containerAccount {
    display: -ms-grid;
    display: grid;
    background-color: aliceblue;
    /*grid-template-areas: "r1c1 r1c2 r1c3 r1c4 r1c4" "r2c1 r2c2 r2c3 r2c4 r2c5" "r1c3 r1c3 r1c3 r3c4 r3c4" "r4c1 r4c2 r4c3 r4c4 r4c5"*/
    -ms-grid-columns: 2fr 1fr 1fr 1fr;
        grid-template-columns: 2fr 1fr 1fr 1fr;
    -ms-grid-rows: minmax(50px, auto) minmax(50px, auto) minmax(100px, auto) minmax(100px, auto) minmax(50px, auto);
        grid-template-rows: minmax(50px, auto) minmax(50px, auto) minmax(100px, auto) minmax(100px, auto) minmax(50px, auto);
    max-width: initial;
    margin: 10px auto;
    grid-gap: 15px;
        grid-template-areas: "head head head head" "select-club select-airplane select-pilot select-date" "main-left main-right main-right main-right" "main-left main-right main-right main-right" "foot foot foot foot";
  }
  .containerAccount,
  .main-left {
    margin: 100px;
  }
}

.containerAccount .select-club {
  background-color: blue;
}

.select-club {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: select-club;
}

.containerAccount .select-airplane {
  background-color: #26b050;
}

.select-airplane {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: select-airplane;
}

.containerAccount,
.select-pilot {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: select-pilot;
  background-color: red;
}

.containerAccount .select-date {
  background-color: coral;
}

.select-date {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: select-date;
}

.containerAccount .main-left {
  background-color: rgba(245, 237, 237, 0.36);
  max-height: 500px;
  overflow-y: scroll;
  resize: both;
  margin: 0px;
}

.main-left {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: main-left;
}

.containerAccount .main-right {
  max-height: 500px;
  overflow-y: scroll;
  background-color: aqua;
  margin: 0px;
  font-size: 1.5rem;
}

.main-right {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: main-right;
}

.containerAccount .head {
  background-color: aqua;
}

.head {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: head;
}

.containerAccount .foot {
  background-color: aqua;
}

.foot {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: foot;
}

.containerAccount,
.main-left,
.main-left-inner {
  height: 100%;
  width: 100%;
}

.container-card-body {
  display: -ms-grid;
  display: grid;
  background-color: #e6e6e6;
  /*grid-template-areas: "r1c1 r1c2 r1c3 r1c4 r1c4" "r2c1 r2c2 r2c3 r2c4 r2c5" "r1c3 r1c3 r1c3 r3c4 r3c4" "r4c1 r4c2 r4c3 r4c4 r4c5"*/
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: minmax(0px, auto);
      grid-template-rows: minmax(0px, auto);
  max-width: initial;
  margin: 5px auto;
  grid-gap: 5px;
  font-size: 1rem;
}

.card-body-item--1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.card-body-item--1-value {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.card-body-item--1-value input {
  width: 100%;
}

.card-body-item--2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.card-body-item--2-value {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

card-body-item--2-value input {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .container-card-body {
    display: -ms-grid;
    display: grid;
    background-color: #e6e6e6;
    /*grid-template-areas: "r1c1 r1c2 r1c3 r1c4 r1c4" "r2c1 r2c2 r2c3 r2c4 r2c5" "r1c3 r1c3 r1c3 r3c4 r3c4" "r4c1 r4c2 r4c3 r4c4 r4c5"*/
    -ms-grid-columns: 2fr 1fr 2fr 1fr;
        grid-template-columns: 2fr 1fr 2fr 1fr;
    -ms-grid-rows: minmax(0px, auto);
        grid-template-rows: minmax(0px, auto);
    max-width: initial;
    margin: 5px auto;
    grid-gap: 5px;
  }
  .card-body-item--1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .card-body-item--1-value {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .card-body-item--2 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
  .card-body-item--2-value {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
  }
}

.grid-transactions-content-summary {
  -ms-grid-columns: minmax(auto, 1fr) minmax(auto, 1fr) minmax(auto, 0.5fr);
      grid-template-columns: minmax(auto, 1fr) minmax(auto, 1fr) minmax(auto, 0.5fr);
  -ms-grid-rows: 35px 30px 30px 30px 30px;
      grid-template-rows: 35px 30px 30px 30px 30px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "content-header  content-header content-header" "content-row--1  content-value--1 content-side--1"  "content-row--2  content-value--2 content-side--2"  "content-row--3  content-value--3 content-side--3"  "content-row--4  content-value--4 content-side--4";
}

.content-header {
  -ms-grid-column-align: center;
      justify-self: center;
}

.content-row--1 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content-row--1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.content-row--2 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: content-row--2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.content-row--3 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: content-row--3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.content-row--4 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: content-row--4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.content-value--1 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content-value--1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.content-value--2 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: content-value--2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.content-value--3 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: content-value--3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.content-value--4 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: content-value--4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.content-side--1 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: content-side--1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.content-side--2 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: content-side--2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.content-side--3 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: content-side--3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.content-side--4 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: content-side--4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.content-value--1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content-value--1;
}

.content-row--1, .content-row--2, .content-row--3, .content-row--4 {
  justify-items: left;
}

.content-side--1 {
  display: table-cell;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: right;
      -ms-grid-row-align: right;
      align-self: right;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: content-side--1;
}

.grid-transactions-content-transaction {
  -ms-grid-columns: minmax(1fr, 1.2fr) minmax(auto, 0.5fr) minmax(auto, 0.7fr) minmax(auto, 0.7fr);
      grid-template-columns: minmax(1fr, 1.2fr) minmax(auto, 0.5fr) minmax(auto, 0.7fr) minmax(auto, 0.7fr);
  /* grid-template-rows: 35px 20px 20px; */
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "content-header-left content-header-left-1 content-header-right-1 content-header-right" "content-item content-unit content-per-unit content-total"  "content-footer content-footer content-footer content-footer";
}

.content-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: content-footer;
  justify-self: left;
  -ms-flex-item-align: center;
      align-self: center;
}

.content-header-right-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: content-header-right-1;
  -ms-grid-column-align: center;
      justify-self: center;
}

.content-header-right {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: content-header-right;
}

.content-header-left {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: content-header-left;
}

.content-header-left-1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: content-header-left-1;
}

.content-item {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content-item;
  color: #fff;
}

.content-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: start;
  grid-area: content-value-1;
}

.content-per-unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: content-per-unit;
}

.content-unit {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content-unit;
  text-align: center;
}

.content-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
}

.content-side .material-icons {
  color: lightblue;
  text-shadow: 2px 2px 4px #3c6d61;
  font-weight: 600;
}

.content-side-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: center;
}

.content-total {
  display: table-cell;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: right;
      -ms-grid-row-align: right;
      align-self: right;
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: content-total;
}

.aircraft-reservation {
  padding: 2px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: "a-r-header" "a-r-content";
  height: 100%;
  grid-gap: 2px;
  background-color: #ffffff;
  background-color: var(--bg-color-page-content);
}

.a-r-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a-r-header;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  -ms-grid-rows: minmax(auto, 35px) 35px 35px;
      grid-template-rows: minmax(auto, 35px) 35px 35px;
      grid-template-areas: "a-r-header--1 a-r-header--2 a-r-header--3" "a-r-filter--1 a-r-filter--2 a-r-filter--3" "a-r-page--1 a-r-page--2 a-r-page--3";
  grid-gap: 2px;
  width: 100%;
  height: 100%;
}

.a-r-page--2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-r-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: a-r-content;
  padding: 1px 1px;
  grid-gap: 2px;
  font-size: 1.1rem;
}

.a-r-list-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.3fr 1fr 2fr 1fr 1fr 1fr;
      grid-template-columns: 1.3fr 1fr 2fr 1fr 1fr 1fr;
      grid-template-areas: "a-r-list-c--1 a-r-list-c--2 a-r-list-c--3 a-r-list-c--4 a-r-list-c--5 a-r-list-c--6";
  -ms-grid-rows: 45px;
      grid-template-rows: 45px;
  height: auto;
  border-radius: 10px;
  background-color: #347974;
  background-color: var(--bg-color-item-1);
  color: #fff;
  color: var(--fg-color-item-1);
  font-size: 0.9rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-r-list-header {
  display: -ms-grid;
  display: grid;
  height: 35px;
  -ms-grid-columns: 1.3fr 1fr 2fr 1fr 1fr 1fr;
      grid-template-columns: 1.3fr 1fr 2fr 1fr 1fr 1fr;
  -ms-grid-rows: minmax(0px, 40px);
      grid-template-rows: minmax(0px, 40px);
      grid-template-areas: "a-r-list-h--1 a-r-list-h--2 a-r-list-h--3 a-r-list-h--4 a-r-list-h--5 a-r-list-h--6";
  background-color: #347974;
  background-color: var(--bg-color-item-1);
  color: #fff;
  color: var(--fg-color-item-1);
  text-align: center;
}

.a-r-header--1 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a-r-header--1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-r-header--2 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: a-r-header--2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-r-header--3 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: a-r-header--3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-r-filter--1 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: a-r-filter--1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-r-filter--2 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: a-r-filter--2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-r-filter--3 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: a-r-filter--3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-r-page--1 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: a-r-page--1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-r-page--2 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: a-r-page--2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-r-page--3 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: a-r-page--3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-r-list-h--1 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a-r-list-h--1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-r-list-h--2 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: a-r-list-h--2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-r-list-h--3 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: a-r-list-h--3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-r-list-h--4 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: a-r-list-h--4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-r-list-h--5 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: a-r-list-h--5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-r-list-h--6 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: a-r-list-h--6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-r-list-c--1 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a-r-list-c--1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-r-list-c--2 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: a-r-list-c--2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-r-list-c--3 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: a-r-list-c--3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-r-list-c--4 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: a-r-list-c--4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-r-list-c--5 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: a-r-list-c--5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.a-r-list-c--6 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: a-r-list-c--6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}
/*# sourceMappingURL=main.css.map */