// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------
$theme-colors: ('primary': ('base': #384ea9,
        'light': #e4efff,
        'dark': #273677),
    'accent': ('base': #f08110,
        'light': #ff8100,
        'dark': #e47f17),
    'foreground': ('base': #393939,
        'light': #6e6e6e,
        'dark': #111),
    'background': ('base': #f8f5f5,
        'light': #fff,
        'dark': #ddd));

        $contrast-colors: ('dark': ('primary': rgb(255, 255, 255),
                'secondary': rgba(255, 255, 255, .70),
                'disabled': rgba(255, 255, 255, .5),
                'hint': rgba(255, 255, 255, .12)),
            'light': ('primary': rgba(0, 0, 0, .87),
                'secondary': rgba(0, 0, 0, .54),
                'disabled': rgba(0, 0, 0, .38),
                'hint': rgba(0, 0, 0, .12)),
        );
        @function contrast($background: 'light', $type: 'primary') {
          $map: map-get($contrast-colors, $background);
          @return map-get($map, $type);
        }
//map them green

$theme-green: (backgroung-color: rgb(52, 121, 116),
    icon-color: $white-color,
    text-color: $white-color,
    fw-: 300,

);

