@page "/AccountManager/AccountManager"
@using ClubLogBook.Application.Accounts.Queries.GetAccountsList
@inject HttpClient Http
@inject IdentityAuthenticationStateProvider authStateProvider


@*<h3>AccountManager</h3>*@

<div class="containerAccount">
    <div class="head">
       
    </div>
    <div class="select-club"></div>
    <div class="select-airplane"></div>
    <div class="select-pilot"></div>
    <div class="select-date"></div>
    <div class="main-left"></div>
    <div class="main-left">
        <div class="grid-transactions">
            <div class="transactions-header">Transactions</div>
            <button class="btn-transaction nav-back" value="Back"><i class="material-icons">arrow_back_ios</i></button>
            <button class="btn-transaction nav-transactions" value="Transactions">Transactions</button>
            <button class="btn-transaction nav-invoices" value="Invoices">Invoices</button>

            <div class="transactions-content">

                <div class="grid-transactions-content">
                    <div class="content-header">Account Info</div>
                    <div class="content-row-1">IdNumber:</div>
                    <div class="content-value-1">059828392 </div>
                    <div class="content-side content-side-1"><i class="material-icons">account_circle</i></div>
                    <div class="content-row-2">Name:</div>
                    <div class="content-value-2">Yosef Levy</div>
                    <div class="content-side content-side-2"><i class="material-icons">mood</i></div>
                    <div class="content-row-3">Update:</div>
                    <div class="content-value-3">10/12/2019</div>
                    <div class="content-side content-side-3"><i class="material-icons">update</i></div>

                </div>
                <div class="grid-transactions-content">
                    <div class="content-header">Account Balance</div>
                    <div class="content-row-1">Cash:</div>
                    <div class="content-value-1">120</div>
                    <div class="content-side content-side-1"><i class="material-icons">$</i></div>
                    <div class="content-row-2">Flight:</div>
                    <div class="content-value-2">14.6</div>
                    <div class="content-side content-side-2"><i class="material-icons">flight</i></div>

                </div>
                <div class="grid-transactions-content">
                    <div class="content-header">Flight Summary</div>
                    <div class="content-row-1">Total:</div>
                    <div class="content-value-1">120</div>
                    <div class="content-side content-side-1"><i class="material-icons">$</i></div>
                    <div class="content-row-2">Hours:</div>
                    <div class="content-value-2">14.6</div>
                    <div class="content-side content-side-2"><i class="material-icons">flight</i></div>
                    <div class="content-row-3">Flights:</div>
                    <div class="content-value-3">19</div>
                    <div class="content-side content-side-3"><i class="material-icons">flight</i></div>
                    <div class="content-row-4">Per Hour</div>
                    <div class="content-value-4">650</div>
                    <div class="content-side content-side-4"><i class="material-icons">$</i></div>


                </div>
                <div class="grid-transactions-content">
                    <div class="content-header">Invoices Status</div>
                    <div class="content-row-1">Cash:</div>
                    <div class="content-value-1">120</div>
                    <div class="content-side content-side-1"><i class="material-icons">$</i></div>
                    <div class="content-row-2">Flight:</div>
                    <div class="content-value-2">14.6</div>
                    <div class="content-side content-side-2"><i class="material-icons">flight</i></div>

                </div>

            </div>
            <div class="transactions-footer">
                <span>Status:</span>
            </div>
        </div>
    </div>
    <div class="foot">
        <ul>
            @foreach (var item in MessageList)
            {
                <li>@item</li>
            }
        </ul>
    </div>
</div>

@code {
    private AccountListViewModel AccountListViewModel { get; set; }
    private bool ShowCommandDebug { get; set; }
    private List<string> MessageList { get; set; } = new List<string>();
    protected override async Task OnInitializedAsync()
    {
        MessageList.Add($"OnInitializedAsync in ");
        AccountListViewModel = await Http.GetJsonAsync<AccountListViewModel>("api/Account/AccountsListQueryGet");
        MessageList.Add($"OnInitializedAsync accountListViewModels.Accounts = out");

        MessageList.Add($"OnInitializedAsync accountListViewModels.Accounts =  {AccountListViewModel.Accounts.Count()}");


        List<ClubContactsViewModel> contacts = await Http.GetJsonAsync<List<ClubContactsViewModel>>("api/ClubContacts/Members");
        MessageList.Add($"OnInitializedAsync contact {contacts.Count}");
        MessageList.Add($"OnInitializedAsync out");
    }
}
