@page "/index"
@using Microsoft.AspNetCore.Http;
    <AuthorizeView Roles="Administrators,AccountManage">
        <Authorized>
            
        </Authorized>
        <NotAuthorized>
            <p>You're not Authorized , Please Loging as one of this User Type :Administrators,AccountManage</p>
            <input type='file' onchange="readURL(this);" />
            <img id="blah" src="http://placehold" alt="your image" />

            <form enctype="multipart/form-data" method="post">
                <dl>
                    <dt>
                        <label asp-for="FileUpload.FormFile"></label>
                    </dt>
                    <dd>
                        Form
                        <input asp-for="FileUpload.FormFile" type="file" @bind="FormFile">
                    </dd>
                </dl>
                <input asp-page-handler="Upload" class="btn" type="submit" value="Upload">
            </form>
        </NotAuthorized>
    </AuthorizeView>


@*<p> The File is @FormFile.FileName @FormFile.Length @FormFile.Headers.Count</p>*@
<p> The File is @FormFile </p>
@code
{
    public string FormFile { get; set; }
}