@page "/"
@using Microsoft.AspNetCore.Http;
<AuthorizeView Roles="Administrators,AccountManage">
    <Authorized>

    </Authorized>
    <NotAuthorized>
        <p>You're not Authorized , Please Loging as one of this User Type :Administrators,AccountManage</p>
        <input type='file' onchange="readURL(this);" />
        <img id="blah" src="http://placehold" alt="your image" />

        <form enctype="multipart/form-data" method="post">
            <dl>
                <dt>
                    <label asp-for="FileUpload.FormFile"></label>
                </dt>
                <dd>
                    Form
                    <input asp-for="FileUpload.FormFile" type="file" @bind="FormFile">
                </dd>
            </dl>
            <input asp-page-handler="Upload" class="btn" type="submit" value="Upload">
        </form>
    </NotAuthorized>
</AuthorizeView>


@*<p> The File is @FormFile.FileName @FormFile.Length @FormFile.Headers.Count</p>*@
<div class="row accordion-gradient-bcg d-flex justify-content-center">

    <!-- Grid column -->
    <div class="col-md-10 col-xl-6 py-5">

        <!--Accordion wrapper-->
        <div class="accordion md-accordion accordion-2" id="accordionEx7" role="tablist"
             aria-multiselectable="true">

            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading1">
                    <a data-toggle="collapse" data-parent="#accordionEx7" href="#collapse1" aria-expanded="true"
                       aria-controls="collapse1">
                        <h5 class="mb-0 white-text text-uppercase font-thin">
                            Club Message <i class="fas fa-angle-down rotate-icon"></i>
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapse1" class="collapse show" role="tabpanel" aria-labelledby="heading1"
                     data-parent="#accordionEx7">
                    <div class="card-body mb-1 rgba-grey-light white-text">
                        
                    </div>
                </div>
            </div>
            <!-- Accordion card -->
            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading2">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse2"
                       aria-expanded="false" aria-controls="collapse2">
                        <h5 class="mb-0 white-text text-uppercase font-thin">
                            Aircraft Status <i class="fas fa-angle-down rotate-icon"></i>
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2"
                     data-parent="#accordionEx7">
                    <div class="card-body mb-1 rgba-grey-light white-text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Accordion card -->
            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading3">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse3"
                       aria-expanded="false" aria-controls="collapse3">
                        <h5 class="mb-0 white-text text-uppercase font-thin">
                            Links <i class="fas fa-angle-down rotate-icon"></i>
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3"
                     data-parent="#accordionEx7">
                    <div class="card-body mb-1 rgba-grey-light white-text">
                        <ul>
                            <li><a href="http://brin.iaa.gov.il/aeroinfo/AeroInfo.aspx?msgType=Notam" target="_blank">Israel Notams</a></li>
                            <li><a href="http://www.ims.gov.il/IMSEng/All_tahazit/Aviation/AviationMeteorology.htm" target="_blank">Israel Aviation Weather</a></li>
                            <li><a href="https://caa.gov.il/index.php?option=com_content&view=article&id=584&Itemid=80&lang=he" target="_blank">Israel AIP</a></li>
                            <li><a href="http://aispsb.iaa.gov.il/" target="_blank">Fligh Service</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Accordion card -->
        </div>
        <!--/.Accordion wrapper-->

    </div>
    <!-- Grid column -->

</div>
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="/Image/PPL_4186280_Front_30_05_19.JPG"
                 alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/Image/CGC_LLET.jpg"
                 alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/Image/CGC_ACCO.jpg"
                 alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/Image/CGC_LLMG.jpg" alt="fourth slide" />
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 h-100" src="/Image/CGC_LLHA.jpg" alt="fift slide" />
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
@*<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Image/CGC_LLHA.jpg"
                 alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Image/CGC_LLET.jpg"
                 alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Image/CGC_LLMG.jpg"
                 alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Image/CGC_ACCO.jpg"
                 alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>*@

@code
{
    public string FormFile { get; set; }
}